.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

* {
    background-color: #E5EEFF;
    color: #73737F;
    font-family: 'Open Sans', sans-serif;
}

span {
    line-height: 2em;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    background: -webkit-linear-gradient(#fff, #85d6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
}

form {
    display: inline-flex;
    width: 100%;
}

#main {
    padding-left: 3%;
    padding-right: 3%;
}

#header {
    text-align: center;
    height: 10%;
    padding-top: 0.5%;
}

#image-chooser {
    width: 100%;
    padding-top: 1%;
}

#chooseBtn {
    height: 22px;
    width: 150px;
    border-left: 2px solid #c0c0c0;
    border-top: 2px solid #c0c0c0;
    background-color: #73737F;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 0.7em;
}

#file {
   display: none;
}

#image-container {
    display: flex;
}

#canvas {
    background-repeat: no-repeat;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-top: 1%;
    border: solid 1px #73737F;
}

#saveBtn {
    margin-top: 5%;
    cursor: pointer;
}

#saveBtn:hover {
    background-color: #E5EEFF;
    color: #73737F;
}

#footer {
    height: 5%;
    text-align: center;
    font-size: 1.5em;
    line-height: 2.5em;
}

.dark {
    background-color: #73737F;
    color: white;
}

.col-1, .col-2, .col-3, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
}

@media only screen and (max-width: 750px) {
    .col-1, .col-2, .col-3, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: left;
        display: block;
    }

    #main {
        max-width: 730px;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .header-text {
        font-size: 0.9em;
    }

    #canvas{
        width: 100%;
    }

    #text-input {
        width: 100%;
    }

    #footer {
        font-size: 0.9em;
        line-height: 1.1em;
        padding-top: 1px;
        margin-top: 10px;
    }
}